repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        #entry: uv run ruff check --fix --exit-non-zero-on-fix
        entry: ls -la /home
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        pass_filenames: false

      - id: type-check
        name: type-check
        entry: ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: tests
        name: tests
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
